<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- .NET Runtime -->
  <package id="Microsoft.NETCore.Platforms" version="8.0.0" targetFramework="net6.0-windows" />
  
  <!-- Windows SDK -->
  <package id="Microsoft.WindowsAppSDK" version="1.4.231115000" targetFramework="net6.0-windows" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.240111.0" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.22621.756" targetFramework="native" />
  
  <!-- MVVM and DI -->
  <package id="CommunityToolkit.Mvvm" version="8.2.2" targetFramework="net6.0-windows" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net6.0-windows" />
  <package id="Microsoft.Extensions.Hosting" version="8.0.0" targetFramework="net6.0-windows" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net6.0-windows" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" targetFramework="net6.0-windows" />
  
  <!-- Database -->
  <package id="System.Data.SQLite.Core" version="1.0.118" targetFramework="net6.0-windows" />
  
  <!-- System Tray -->
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net6.0-windows" />
  
  <!-- XAML Behaviors -->
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.77" targetFramework="net6.0-windows" />
  
  <!-- Logging -->
  <package id="Serilog" version="3.1.1" targetFramework="net6.0-windows" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net6.0-windows" />
  <package id="Serilog.Extensions.Logging" version="8.0.0" targetFramework="net6.0-windows" />
  
  <!-- JSON -->
  <package id="System.Text.Json" version="8.0.0" targetFramework="net6.0-windows" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net6.0-windows" />
</packages>
